@model Entity.Concrete.Guide
@{
    ViewData["Title"] = "EditGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Rota Güncelleme Sayfası</h1>
<form method="post">
    @Html.HiddenFor(x => x.GuideID)
    <div class="form-group">
        @Html.Label("Görsel")
        <input type="text" asp-for="Image" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Ad")
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Açıklama")
        <textarea cols="30" rows="5" class="form-control" asp-for="Description"></textarea>
    </div>
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>

