@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<ul class="nav navbar-nav float-right">
    <li class="dropdown dropdown-language nav-item">
        <a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="flag-icon flag-icon-tr"></i>
            <span class="selected-language"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown-flag">
            <div class="arrow_box">
                <a class="dropdown-item" asp-route-culture="tr"><i class="flag-icon flag-icon-tr"></i> Turkish</a>
            </div>
            <a class="dropdown-item" asp-route-culture="en"><i class="flag-icon flag-icon-gb-eng"></i>@localizer["English"]</a>
            <a class="dropdown-item" asp-route-culture="de"><i class="flag-icon flag-icon-de"></i>@localizer["Germany"]</a>
            <a class="dropdown-item" asp-route-culture="fr"><i class="flag-icon flag-icon-fr"></i>@localizer["French"]</a>
            <a class="dropdown-item" asp-route-culture="es"><i class="flag-icon flag-icon-es"></i>@localizer["Spanish"]</a>
        </div>
    </li>
</ul>